<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
    >

    <title>
        MFIX Analytics
    </title>

    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

<div class="container">

<header class="topbar">

    <div class="titulo-area">

        <span class="mini-title">
            • MFIX · OPERAÇÕES
        </span>

        <h1>

            DATA WAREHOUSE
            <span>MFIX</span>

        </h1>

        <p>

            Consolidação de movimentações, fornecedores e estoque em tempo real.

        </p>

    </div>

        <div style="display:flex; gap:12px;">

        <a href="/dashboard" class="dashboard-btn">
            DASHBOARD BI
        </a>

        <a href="/ia" class="dashboard-btn">
            IA ANALYTICS
        </a>

</div>

</header>

<!-- KPI -->

<div class="mini-kpis">

    <div class="mini-card">

        <span>ITENS EM ESTOQUE</span>

        <h2>{{ kpis[0].total_mov }}</h2>

    </div>

    <div class="mini-card">

        <span>MOVIMENTAÇÕES HOJE</span>

        <h2>{{ kpis[0].movimentacoes_hoje }}</h2>

    </div>

    <div class="mini-card">

        <span>FORNECEDORES ATIVOS</span>

        <h2>{{ kpis[0].fornecedores }}</h2>

    </div>

</div>

<!-- FILTROS -->

<form method="POST" class="filtros">

    <div class="autocomplete-box">

        <input
        type="text"
        name="produto"
        id="produtoInput"
        placeholder="Pesquisar produto"
        autocomplete="off"
        >

        <div
        id="autocomplete-list"
        class="autocomplete-list"
        ></div>

    </div>

    <select name="movimentacao">

        <option value="">
            Movimentação
        </option>

        <option value="1">
            Entrada
        </option>

        <option value="2">
            Saída
        </option>

        <option value="3">
            Ajuste
        </option>

    </select>

    <input
    type="text"
    name="fornecedor"
    placeholder="Fornecedor"
    >
    
    <input
    type="text"
    name="data_inicial"
    placeholder="DD/MM/AAAA"
    >

    <input
    type="text"
    name="data_final"
    placeholder="DD/MM/AAAA"
    >
    <button type="submit">

        PESQUISAR

    </button>

</form>

<div class="resultado-topo">

    <h2>RESULTADOS</h2>

    <span>
        {{ dados|length }} registros
    </span>

</div>

<div class="grid-cards">

{% for item in dados %}

<div class="card">

    <div class="card-header">

        <div class="
        status

        {% if item.descricao_mov == 'ENTRADA' %}
        entrada
        {% elif item.descricao_mov == 'SAÍDA' %}
        saida
        {% else %}
        ajuste
        {% endif %}
        ">

            {{ item.descricao_mov }}

        </div>

    </div>

    <h3>

        {{ item.descricao_prod }}

    </h3>

    <div class="linha"></div>

    <div class="card-grid">

        <div>

            <span>FORNECEDOR</span>
            <p>{{ item.nome_forn }}</p>

        </div>

        <div>

            <span>QUANTIDADE</span>
            <p>{{ item.quantidade }}</p>

        </div>

        <div>

            <span>LOTE</span>
            <p>{{ item.numero_lote }}</p>

        </div>

        <div>

            <span>DATA</span>
            <p>{{ item.data }}</p>

        </div>

        <div>

            <span>CATEGORIA</span>
            <p>{{ item.categoria_prod }}</p>

        </div>

        <div>

            <span>VALOR</span>
            <p>
                 R$
    {{
        "{:,.2f}".format(item.valor_total)
        .replace(",", "X")
        .replace(".", ",")
        .replace("X", ".")
    }}
            </p>

        </div>

    </div>

</div>

{% endfor %}

</div>

</div>

<script>

const produtoInput =
document.getElementById("produtoInput")

const lista =
document.getElementById("autocomplete-list")

produtoInput.addEventListener("keyup", async () => {

    const termo =
    produtoInput.value

    if(termo.length < 1){

        lista.style.display = "none"

        return
    }

    const response =
    await fetch(
        `/autocomplete_produto?term=${termo}`
    )

    const data =
    await response.json()

    lista.innerHTML = ""

    lista.style.display = "block"

    data.forEach(item => {

        const div =
        document.createElement("div")

        div.classList.add(
            "autocomplete-item"
        )

        div.innerText =
        item.descricao_prod

        div.onclick = () => {

            produtoInput.value =
            item.descricao_prod

            lista.style.display = "none"
        }

        lista.appendChild(div)
    })
})

</script>

</body>

</html>